.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 45;
}

.dialog-content {
  background-color: var(--bg-color-main);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  color: var(--text-color);
}

.dialog-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: var(--text-color);
}

.dialog-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  object-fit: cover;
}

.dialog-info {
  margin-top: 10px;
  color: var(--text-color);
}

.dialog-info p {
  margin: 5px 0;
}

.dialog-info ul {
  list-style-type: decimal;
  padding: 0;
  margin: 0;
}

.dialog-info li {
  margin: 5px 0;
}

.dialog-info input[type='file'],
.dialog-info input[type='text'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
